@font-face {
	font-family: 'Sans';
	src: url('sansbold.eot');
	src: local('☺'), url('sansbold.woff') format('woff'), url('sansbold.ttf') format('truetype'), url('sansbold.svg') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Sans';
	src: url('sansnormal.eot');
	src: local('☺'), url('sansnormal.woff') format('woff'), url('sansnormal.ttf') format('truetype'), url('sansnormal.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

